<!DOCTYPE html>
<html>
<head>
    <!-- Tachyons -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <title>Welcome.</title>
</head>
<body class="bg-white light-purple sans-serif">
    <div class="fl w-100 pa2 tc bg-light-purple near-white">
        <h1>Aggie Deep State Library</h1>
        <h2>Enjoy the knowledge.</h2>
    </div>

    <div class="fl w-30 pa2 center">
        <ol>
            <li>Test</li>
            <li>Test2</li>
        </ol>
    </div>

</body>
</html>